- field_title = nil if not defined?(field_title)
.form_row
  %label{ 'for' => "%{field}" } 
    = field_title || field.humanize
  
  = form.password_field field, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH