%h2 Register
- form_for :user do |form|
  %fieldset
    %legend Enter Your Details
    
    .form_row
      %label{ 'for' => "screen_name"} Screen name:
      = form.text_field :screen_name, :size => 20, :maxlength => 40
      %br/
    
    .form_row
      %label{ 'for' => "email"} Email:
      = form.text_field :email, :size => 30, :maxlength => 50
      %br/
    
    .form_row
      %label{ 'for' => "password"} Password:
      = form.password_field :password, :size => 10, :maxlength => 40
      %br/
    
    .form_row
      = submit_tag "Register!", :class => "submit"
    